.DS_Store

.idea/
.lh/
*.iml
*.log

node_modules
build

.vscode

/volumes/

key/

nodekey
!**/test/*/nodekey

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

